.grid_5[image]
  .grid_3.alpha
    = image_tag image.photo.thumb(size).url
    %input{:id => "image_id", :type => "hidden", :value => image.id}
    
  .grid_2.omega
    %p
      = link_to "remover", "javascript://", :class => "remove_image"
      %br
      = link_to "ver original", image.photo.url, :target => "blank"

  .grid_5.alpha.omega
    %label LEGENDA
    = text_field_tag "#{image.imageable.class.name.downcase}[images_attributes][#{image.id}][caption]", image.caption
    = hidden_field_tag "#{image.imageable.class.name.downcase}[images_attributes][#{image.id}][id]", image.id