-@works.each do |work|
  .grid_19.menu
    .grid_2.alpha
      %p
        = link_to "#{work.name} #{work.lastname}", edit_work_path(work)
    -unless work.images.empty?
      .grid_16
        %ul
          -Work.attachment_magick_default_options[:styles].keys.sort{|x, y| x.to_s <=> y.to_s}.each do |style|
            %li.grid_2.rpush_2{:class => style == :fullscreen ? "active" : ""}
              = link_to "#{style}", "javascript://", :class => "open_attachment"
      .grid_1.omega
        %ul
          %li
            = link_to "[x]", work_path(work), :method => :delete, :confirm => "remover #{work.name}?"

  .grid_19.tpush_2{:style => "overflow:hidden;"}
    -work.images.each do |image|
      = image_tag image.photo.thumb(Work.style_grid_5).url, :class => "attachment-thumb hide"

