.grid_5.attachment_magick_image[image]
  .grid_3.alpha
    = image_tag image.source.nil? ? image.photo.thumb(image.imageable.class.style_publisher).url : image.source_to_image
    %input{:id => "image_id", :type => "hidden", :value => image.id}

  .grid_2.omega
    %p
      = link_to "remover", "javascript://", :class => "remove_image"
      %br
      = link_to "ver original", image.source || image.photo.url, :target => "blank"

  .grid_5.alpha.omega
    %label LEGENDA
    = text_field_tag "#{image.imageable.class.name.downcase}[images_attributes][#{image.id}][caption]", image.caption
    = hidden_field_tag "#{image.imageable.class.name.downcase}[images_attributes][#{image.id}][id]", image.id